* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, h1 {
    margin: 0;
}

body, button {
    font-family: "VT323", monospace;
    font-size: 1.2em;
}

h1 {
    text-align: center;
    padding: 20px;
    height: 10%;  /* Match with #left-panel height */
}

#left-panel {
    float: left;
    width: 80%;   /* Match with #right-panel width */
    height: 90%;  /* Match with h1 height */
    position: relative;
}

#right-panel {
    float: right;
    width: 20%;  /* Match with #right-panel width */
    overflow-y: auto;
}

#canvas-wrapper {
    display: inline-block;
    position: absolute;

    /* top and bottom are set in JS */
    top: 0;
    bottom: 0;
}

#game-canvas {
    position: relative;
}

#player-list, #card-list {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}

#player-list {
    color: white;
    border-collapse: collapse;
}

#player-list > li {
    position: relative;
}

#player-list > li, .opponent-city-list {
    border: 2px solid black;
}

.opponent-city-list {
    display: none;  /* Set to block when player <li> is hovered */
    background: inherit;
    border-top-width: 0;
    position: absolute;
    top: 100%;
    z-index: 60;
    padding: 0 0 10px 0;

    left: -2px;  /* Match with border width of #player-list > li */
    right: -2px;
}

#player-list > li:hover .opponent-city-list {
    display: block;
}

.opponent-city-list li {
    list-style: none;
}

#card-list {
    position: absolute;
    bottom: 0;
}

#player-list > li, #card-list li {
    text-align: center;
    display: table-cell;
    padding: 20px;
}

li.visited {
    text-decoration: line-through;
}

#card-list li {
    border: 1px solid black;
    background: white;
}

#card-list li.visited {
    background: #bbb;
}

.player-name {
    font-size: 1.2em;
}

.current-player {
    font-weight: bold;
}

#right-panel .message {
    margin: 8px;
    border-bottom: 1px solid #555;
}

.popup {
    display: none;
    position: fixed;
    width: 400px;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    border: 3px solid black;
    background: #ddd;
    padding: 40px;
    text-align: center;
    z-index: 101;
}

#gray-screen {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: gray;
    z-index: 100;
}

#action-choice-popup ul {
    padding-left: 0;
}

#action-choice-popup li {
    list-style: none;
    margin-bottom: 10px;
}

#buttons-bar {
    position: absolute;
    z-index: 50;

    /* top, left and right are set in JS to be aligned with canvas */
    top: 0;
    right: 0;
}

#buttons-bar .actions * {
    display: none;
}

#buttons-bar img {
    vertical-align: top;
}

#buttons-bar span:first-child {
    float: left;
}

#buttons-bar span:last-child {
    float: right;
}

#buttons-bar .image-button {
    background-position: center;
    background-repeat: no-repeat;
}

#flight-plan-button {
    background-image: url("/static/plane-icon.png");
}

#fullscreen-button {
    background-image: url("/static/fullscreen-icon.png");
}

#toast-list {
    position: absolute;
    z-index: 45;
    margin: 0;
    text-align: center;

    /* top , left and right are set in JS to be aligned with canvas */
    top: 0;
}

#toast-list li {
    list-style: none;
    background: white;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    width: 250px;
    margin: auto;
    margin-bottom: 5px;
    opacity: 0.9;
}

button {
    font-size: 30px;
}