<!DOCTYPE html>
<html>

<head>
    <title>Journey Through Europe</title>
    <style type="text/css">

    * {
        box-sizing: border-box;
    }

    body {
        font-family: "Helvetica", "Arial", sans-serif;
    }

    button {
        padding: 6px 12px;
        font-size: 14px;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button:hover {
        background: #e6e6e6;
        cursor: pointer;
    }

    #left-panel, #right-panel {
    }

    #left-panel {
        float: left;
        width: 70%;
    }

    #right-panel {
        float: right;
        width: 30%;
    }

    #player-list, #card-list {
        display: table;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #player-list {
        color: white;
    }

    #player-list li, #card-list li {
        text-align: center;
        display: table-cell;
        padding: 20px;
    }

    #card-list li {
        border: 1px solid black;
    }

    #card-list li.visited {
        background: #bbb;
    }

    .player-name {
        font-size: 1.2em;
    }

    .current-player {
        font-weight: bold;
    }

    #right-panel .message {
        margin: 8px;
        border-bottom: 1px solid #555;
    }

    .popup {
        display: none;
        position: fixed;
        width: 400px;
        top: 200px;
        left: 50%;
        margin-left: -200px;
        border: 3px solid black;
        background: #ddd;
        padding: 40px;
        text-align: center;
        z-index: 101;
    }

    #gray-screen {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
        background: gray;
        z-index: 100;
    }

    #action-choice-popup ul {
        padding-left: 0;
    }

    #action-choice-popup li {
        list-style: none;
        margin-bottom: 10px;
    }

    img {
        display: none;
    }

    </style>
</head>

<body>
    <script type="text/json" id="cities">
    {{ cities }}
    </script>

    <h1>Journey Through Europe</h1>

    <!-- <code id="debug-area"></code> -->

    <div id="left-panel">
        <ol id="player-list"></ol>
        <ol id="actions-list"></ol>

        <canvas id="game-canvas"></canvas>

        <ol id="card-list"></ol>
    </div>

    <div id="gray-screen"></div>
    <div id="action-choice-popup" class="popup">
        Choose action...
        <ul></ul>
    </div>

    <div id="right-panel"></div>


    <script type="text/javascript" src="https://joesingo.github.io/grid/matrix.js"></script>
    <script type="text/javascript" src="https://joesingo.github.io/grid/grid.js"></script>
    <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

    function Map(cities_str) {

        var cities = JSON.parse(cities_str);

        /*
         * Throw an exception if the provided ID is invalid;
         */
        var checkCityID = function(city_id) {
            if (city_id < 0 || city_id >= cities.length) {
                throw "Invalid city ID";
            }
        }

        /*
         * Return the name of the city with the given ID. Throw an exception if the
         * city does not exist
         */
        this.getCityName = function(city_id) {
            var i = parseInt(city_id);
            checkCityID(i);
            return cities[i].name;
        }

        /*
         * Return the coordinates in the map image for a given city
         */
        this.getCityCoords = function(city_id) {
            var i = parseInt(city_id);
            checkCityID(i);

            return cities[i].coords;
        }
    }

    function Game(game_map, canvas) {

        var map = game_map;

        var grid = new Grid(canvas);

        grid.settings.background_colour = "black";
        grid.settings.grid_lines = {};
        grid.settings.axes.enabled = false;
        grid.redraw();

        // Draw background image so that it fills the canvas
        var fullscreen_ratio = grid.getUnitsToPx();
        var map_width = canvas.width * fullscreen_ratio;
        var map_height = canvas.height * fullscreen_ratio;
        var background = grid.addImage(images.map, 0, 0, map_width, map_height);
        grid.translate(-0.5*map_width, 0.5*map_height);

        // A list of the current points on the map that can be clicked
        var click_points = [];

        var hovered_click_point = null;

        // grid object IDs for the player flags
        var player_flag_ids = [];

        var sprites = {
            "player_flags": [],
            "cities": []
        };

        // Calculate sizes of things in grid units based on size in pixels at
        // fullscreen zoom level
        var sizes = {
            "flags": {
                "pole_width": 6 * fullscreen_ratio,
                "pole_height": 30 * fullscreen_ratio,
                "flag_size": 15 * fullscreen_ratio
            },

            "cities": {
                "radius": 5 * fullscreen_ratio,
                "border_width": 1 * fullscreen_ratio
            }
        }

        /*
         * Add a player flag to the grid and add the object ID to the
         * sprites.player_flags
         */
        this.addPlayerFlag = function(name, colour, city) {

            var img_coords = map.getCityCoords(city);
            var grid_coords = [map_width * img_coords[0] / images.map.width,
                               map_height * (1 - img_coords[1]) / images.map.height];

            var points = [];
            var x = grid_coords[0] - 0.5*sizes.flags.pole_width;
            var y = grid_coords[1];
            points.push([x, y]);
            y += sizes.flags.pole_height;
            points.push([x, y]);
            x += sizes.flags.pole_width;
            points.push([x, y]);
            x += sizes.flags.flag_size;
            points.push([x, y]);
            y -= sizes.flags.flag_size;
            points.push([x, y]);
            x -= sizes.flags.flag_size;
            points.push([x, y]);
            y = grid_coords[1];
            points.push([x, y]);

            var id = grid.addShape(points, {"colour": colour, "fill": true});
            sprites.player_flags.push(id);
        }

        /*
         * Add a circle at the coordinates of a city. circle_style is one of
         * LOCATING_CIRCLE or TRAVEL_CIRCLE. [border_id, inner_id] is
         * added to sprites.cities
         */
        this.addCityCircle = function(coords, circle_style, airport) {
            var border_style = {"colour": "white", "fill": true};
            var border_id = grid.addCircle(coords[0], coords[1],
                                           sizes.cities.radius,
                                           border_style);

            var style = {"fill": true};

            switch (circle_style) {
                case TRAVEL_CIRCLE:
                    style.colour = (airport ? "red": "black")
                    break
            }

            var inner_id = grid.addCircle(
                coords[0], coords[1],
                sizes.cities.radius - sizes.cities.border_width,
                style
            );

            sprites.cities.push([border_id, inner_id]);
        }

        /*
         * Update the player list and draw flags on the canvas
         */
        this.drawPlayers = function(status) {

            for (var i=0; i<sprites.player_flags.length; i++) {
                grid.removeObject(sprites.player_flags[i]);
            }
            sprites.player_flags = [];
            grid.redraw();

            for (var i=0; i<status.players.length; i++) {

                var $name_span = $("<span>", {"class": "player-name"});
                $name_span.text(status.players[i].name);

                if (name == status.current_player) {
                    $name_span.addClass("current-player");
                }

                var text = map.getCityName(status.players[i].current_city) +
                                           " (" + status.players[i].progress +
                                           ")";

                var $item = $("<li>", {"css": {"background": COLOURS[i]}});
                $item.append($name_span, "<br />", text);
                $("#player-list").append($item);

                this.addPlayerFlag(status.players[i].name, COLOURS[i],
                                   status.players[i].current_city);
            }
        }

        /*
         * Update the player's cards showing which have been visited
         */
        this.drawCards = function(status) {
            for (var i=0; i<status.cards.length; i++) {
                var $li = $("<li>").append(map.getCityName(status.cards[i].id));

                if (status.cards[i].visited) {
                    $li.addClass("visited");
                }

                $("#card-list").append($li);
            }
        }

        /*
         * Add a button in the message log that the player can click to perform
         * an action in the game
         */
        this.addButton = function(text, action_id) {
            var $button = $("<button>", {
                "text": text
            });
            $button.on("click",
                function() {
                    performAction(action_id);
                }
            );
            var $p = $("<p>", {"class": "message"}).append($button);
            $("#right-panel").append($p);
        }

        /*
         * Show the available actions to the user
         */
        this.drawActions = function(status) {
            for (let i=0; i<status.actions.length; i++) {
                var description = "";

                switch (status.actions[i].type) {
                    case ROLL_DICE_ACTION:
                        description = "Roll dice";
                        this.addButton(description, status.actions[i].id);
                        break;

                    case TRAVEL_ACTION:
                        var city_id = status.actions[i].link.to_city;
                        var city_name = map.getCityName(city_id);
                        var type = status.actions[i].link.type;
                        description = `Travel to ${city_name} via ${type}`;

                        var img_coords = map.getCityCoords(city_id);
                        var coords = [
                            map_width * img_coords[0] / images.map.width,
                            map_height * (1 - img_coords[1]) / images.map.height
                        ];

                        this.addCityCircle(coords, TRAVEL_CIRCLE, (type == AIR_LINK));

                        if (!(city_id in click_points)) {
                            click_points[city_id] = {"coords": coords,
                                                     "actions": []};
                        }
                        click_points[city_id].actions.push({
                            "id": status.actions[i].id,
                            "link_type": type
                        });
                        break;

                    case WAIT_AT_PORT_ACTION:
                        description = "Wait at port";
                        break;
                }

                var $link = $(
                    "<a>",
                    {"href": "#",
                     "onclick": `performAction(${status.actions[i].id})`,
                     "text": description}
                );
                var $item = $("<li>");
                $item.append($link);
                $("#actions-list").append($item);
            }
        }

        /*
         * Return the click point object at (x, y) or null if no such point
         * exists
         */
        this.getClickPoint = function(x, y) {
            for (var i in click_points) {
                var cx = click_points[i].coords[0];
                var cy = click_points[i].coords[1];
                var distance = Math.sqrt(Math.pow(x - cx, 2) + Math.pow(y - cy, 2));

                if (distance <= sizes.cities.radius) {
                    return click_points[i];
                }
            }

            return null;
        }

        /*
         * Clear the game canvas and update the player list, cards, and canvas
         */
        this.updateDisplay = function(status) {

            // Remove any previous player flags
            for (var i=0; i<player_flag_ids.length; i++) {
                grid.removeObject(player_flag_ids[i]);
            }
            player_flag_ids = [];
            grid.redraw();

            for (var i=0; i<status["message_log"].length; i++) {
                var msg = status["message_log"][i];

                var $msgs = $("#right-panel .game-message");

                if ($msgs.length == 0 ||
                    msg["timestamp"] > $msgs.last().data("timestamp")) {

                    var $msg_p = $("<p>", {"class": "message game-message"});
                    $msg_p.data("timestamp", msg["timestamp"]);
                    $msg_p.text(msg["message"]);

                    $("#right-panel").append($msg_p);
                }
            }


            $("#actions-list").text("");

            // Remove buttons in the message log
            $("#right-panel button").parent().remove();

            // Remove city circles
            for (var i=0; i<sprites.cities.length; i++) {
                // Inner loop since city is made of multiple circles (border and
                // inside)
                for (var j=0; j<sprites.cities[i].length; j++) {
                    grid.removeObject(sprites.cities[i][j]);
                }
            }
            sprites.cities = [];

            click_points = [];
            hovered_click_point = null;

            if ("actions" in status) {
                this.drawActions(status);
            }

            $("#player-list").text("");
            this.drawPlayers(status);

            // Show cards
            $("#card-list").text("");
            this.drawCards(status);
        }

        var g = this;
        canvas.addEventListener("mousemove", function(e) {
            var grid_coords = grid.fromCanvasCoords(e.offsetX, e.offsetY);

            var click_point = g.getClickPoint(grid_coords[0], grid_coords[1]);

            if (click_point) {
                hovered_click_point = click_point;
                document.body.style.cursor = "pointer";
            }
            // Unhover if a point was previously hovered but is not now
            else if (hovered_click_point) {
                hovered_click_point = null;
                document.body.style.cursor = "default";
            }
        });

        canvas.addEventListener("click", function(e) {
            if (hovered_click_point) {

                // Perform action straigt away if there is only one for this
                // click point...
                if (hovered_click_point.actions.length == 1) {
                    performAction(hovered_click_point.actions[0].id);
                }
                // ...otherwise show popup so that user can choose
                else {
                    var $list = $("#action-choice-popup ul");
                    $list.text("");

                    for (let i=0; i<hovered_click_point.actions.length; i++) {
                        var type = hovered_click_point.actions[i].link_type;
                        var $button = $("<button>", {"text": `Travel by ${type}`})
                        let id = hovered_click_point.actions[i].id;

                        $button.on("click", function() {
                            performAction(id);
                            hidePopup("action-choice-popup");
                        });

                        $list.append($("<li>").append($button));
                    }

                    showPopup("action-choice-popup");
                }

                // Reset cursor once clicked
                document.body.style.cursor = "default";
            }
        })

    }

    /*
     * Show a semi-opaque rectangle to gray out the screen and show a fixed
     * position popup
     */
    function showPopup(id) {
        $("#gray-screen").show();
        $("#" + id).show();
    }
    function hidePopup(id) {
        $("#gray-screen").hide();
        $("#" + id).hide();
    }

    /*
     * Send an AJAX request to perform the specified action. Immediately update
     * status if the request is successful
     */
    function performAction(action_id) {
        $("#action-list").text("Loading...");
        $.ajax(ACTION_URL, {
            "method": "POST",
            "data": {
                "action_id": action_id
            },
            "error": function(request, status, error) {
                throw "Unexpected error performing action";
            },
            "success": function(response, status, request) {
                getStatus();
            }
        });
    }

    /*
     * Send an AJAX request to be updated on the current status of the game
     */
    function getStatus() {
        $.ajax(STATUS_URL + latest_timestamp + "/", {
            "method": "GET",
            "error": function(request, status, error) {
                throw "Unexpected error retrieving status";
            },
            "success": function(response, status, request) {
                // $("#debug-area").text(response);

                // Only update if the response was 200 (i.e. something new
                // has happened)
                if (request.status == 200) {
                    var game_status = JSON.parse(response);
                    latest_timestamp = game_status.timestamp;

                    game.updateDisplay(game_status);
                }
            }
        });
    }

    const UPDATE_INTERVAL = 1000;

    const ROLL_DICE_ACTION = "roll_dice";
    const TRAVEL_ACTION = "travel";
    const WAIT_AT_PORT_ACTION = "wait_at_port";

    const LAND_LINK = "land";
    const SEA_LINK = "sea";
    const AIR_LINK = "air";

    // The different styles of circles at cities
    const LOCATING_CIRCLE = "locating";
    const TRAVEL_CIRCLE = "travlel";

    const COLOURS = ["#AA3939", "#226666", "#AA8439"];

    var STATUS_URL = window.location.pathname + "status/";
    var ACTION_URL = window.location.pathname + "action/";

    var images = {};
    images.map = new Image();
    images.map.src = "{{ url_for("static", filename="europe.png") }}";

    var cities_str = document.getElementById("cities").innerHTML;
    cities_str = cities_str.replace(/&#34;/g, '"');
    var map = new Map(cities_str);

    var latest_timestamp = 1.1;

    var canvas = $("#game-canvas")[0];
    canvas.width = $("#left-panel").width();
    canvas.height = canvas.width * images.map.height / images.map.width;

    var game;

    images.map.onload = function() {
        game = new Game(map, canvas);

        // Get the status and start the update loop
        getStatus();
        window.setInterval(getStatus, UPDATE_INTERVAL);
    }

    </script>
</body>

</html>
