<!DOCTYPE html>
<html>

<head>
    <title>Journey Through Europe</title>
    <style type="text/css">

    * {
        box-sizing: border-box;
    }

    body {
        font-family: "Helvetica", "Arial", sans-serif;
    }

    #left-panel, #right-panel {
    }

    #left-panel {
        float: left;
        width: 70%;
    }

    #right-panel {
        float: right;
        width: 30%;
    }

    #player-list, #card-list {
        display: table;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #player-list {
        color: white;
    }

    #player-list li, #card-list li {
        text-align: center;
        display: table-cell;
        padding: 20px;
    }

    #card-list li {
        border: 1px solid black;
    }

    #card-list li.visited {
        background: #bbb;
    }

    .player-name {
        font-size: 1.2em;
    }

    .current-player {
        font-weight: bold;
    }

    #right-panel .message {
        margin: 8px;
        border-bottom: 1px solid #555;
    }

    img {
        display: none;
    }

    </style>
</head>

<body>
    <script type="text/json" id="cities">
    {{ cities }}
    </script>

    <h1>Journey Through Europe</h1>

    <!-- <code id="debug-area"></code> -->

    <div id="left-panel">
        <ol id="player-list"></ol>
        <ol id="actions-list"></ol>

        <canvas id="game-canvas"></canvas>

        <ol id="card-list"></ol>
    </div>

    <div id="right-panel"></div>

    <script type="text/javascript" src="https://joesingo.github.io/grid/matrix.js"></script>
    <script type="text/javascript" src="https://joesingo.github.io/grid/grid.js"></script>
    <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

    function Map(cities_str) {

        var cities = JSON.parse(cities_str);

        /*
         * Throw an exception if the provided ID is invalid;
         */
        var checkCityID = function(city_id) {
            if (city_id < 0 || city_id >= cities.length) {
                throw "Invalid city ID";
            }
        }

        /*
         * Return the name of the city with the given ID. Throw an exception if the
         * city does not exist
         */
        this.getCityName = function(city_id) {
            var i = parseInt(city_id);
            checkCityID(i);
            return cities[i].name;
        }

        /*
         * Return the coordinates in the map image for a given city
         */
        this.getCityCoords = function(city_id) {
            var i = parseInt(city_id);
            checkCityID(i);

            return cities[i].coords;
        }
    }

    function Game(game_map, canvas) {

        var map = game_map;

        var grid = new Grid(canvas);

        grid.settings.background_colour = "black";
        grid.settings.grid_lines = {};
        grid.settings.axes.enabled = false;
        grid.redraw();

        // Draw background image so that it fills the canvas
        var ratios = grid.getUnitsToPx();
        var map_width = canvas.width * ratios[0];
        var map_height = canvas.height * ratios[1];
        var background = grid.addImage(images.map, 0, 0, map_width, map_height);
        grid.translate(-0.5*map_width, 0.5*map_height);

        // A list of the current points on the map that can be clicked
        var click_points = [];

        // grid object IDs for the player flags
        var player_flag_ids = [];

        /*
         * Update the player list and draw flags on the canvas
         */
        this.drawPlayers = function(status) {

            for (var i=0; i<status.players.length; i++) {

                var $name_span = $("<span>", {"class": "player-name"});
                $name_span.text(status.players[i].name);

                if (name == status.current_player) {
                    $name_span.addClass("current-player");
                }

                var text = map.getCityName(status.players[i].current_city) +
                                           " (" + status.players[i].progress +
                                           ")";

                var $item = $("<li>", {"css": {"background": COLOURS[i]}});
                $item.append($name_span, "<br />", text);
                $("#player-list").append($item);

                var img_coords = map.getCityCoords(status.players[i].current_city);
                var grid_coords = [map_width * img_coords[0] / images.map.width,
                                   map_height * (1 - img_coords[1]) / images.map.height];

                // Flag dimension in grid units
                var ratios = grid.getUnitsToPx();
                var pole_width = 6 * ratios[0];
                var pole_height = 30 * ratios[1];
                var flag_size = 15 * ratios[0];

                var points = [];
                var x = grid_coords[0] - 0.5*pole_width;
                var y = grid_coords[1];
                points.push([x, y]);
                y += pole_height;
                points.push([x, y]);
                x += pole_width;
                points.push([x, y]);
                x += flag_size;
                points.push([x, y]);
                y -= flag_size;
                points.push([x, y]);
                x -= flag_size;
                points.push([x, y]);
                y = grid_coords[1];
                points.push([x, y]);

                var id = grid.addShape(points, {"colour": COLOURS[i],
                                                "fill": true});
                player_flag_ids.push(id);
            }
        }

        /*
         * Update the player's cards showing which have been visited
         */
        this.drawCards = function(status) {
            for (var i=0; i<status.cards.length; i++) {
                var $li = $("<li>").append(map.getCityName(status.cards[i].id));

                if (status.cards[i].visited) {
                    $li.addClass("visited");
                }

                $("#card-list").append($li);
            }
        }

        /*
         * Add a button in the message log that the player can click to perform
         * an action in the game
         */
        this.addButton = function(text, action_id) {
            var $button = $("<button>", {
                "text": text
            });
            $button.on("click",
                function() {
                    performAction(action_id);
                }
            );
            var $p = $("<p>", {"class": "message"}).append($button);
            $("#right-panel").append($p);
        }

        /*
         * Show the available actions to the user
         */
        this.drawActions = function(status) {
            for (let i=0; i<status.actions.length; i++) {
                var description = "";

                switch (status.actions[i].type) {
                    case ROLL_DICE_ACTION:
                        description = "Roll dice";
                        this.addButton(description, status.actions[i].id);
                        break;

                    case TRAVEL_ACTION:
                        var city_id = status.actions[i].link.to_city;
                        var city_name = map.getCityName(city_id);
                        var type = status.actions[i].link.type;
                        description = `Travel to ${city_name} via ${type}`;

                        if (!(city_id in click_points)) {
                            click_points[city_id] = {"action_ids": [],
                                                     "airport": false};
                        }
                        click_points[city_id].action_ids.push(status.actions[i].id);

                        if (type == AIR_LINK) {
                            click_points[city_id].airport = true;
                        }

                        break;

                    case WAIT_AT_PORT_ACTION:
                        description = "Wait at port";
                        break;
                }

                var $link = $(
                    "<a>",
                    {"href": "#",
                     "onclick": `performAction(${status.actions[i].id})`,
                     "text": description}
                );
                var $item = $("<li>");
                $item.append($link);
                $("#actions-list").append($item);
            }
        }

        /*
         * Clear the game canvas and update the player list, cards, and canvas
         */
        this.updateDisplay = function(status) {

            // Remove any previous player flags
            for (var i=0; i<player_flag_ids.length; i++) {
                grid.removeObject(player_flag_ids[i]);
            }
            player_flag_ids = [];
            grid.redraw();

            for (var i=0; i<status["message_log"].length; i++) {
                var msg = status["message_log"][i];

                var $msgs = $("#right-panel .game-message");

                if ($msgs.length == 0 ||
                    msg["timestamp"] > $msgs.last().data("timestamp")) {

                    var $msg_p = $("<p>", {"class": "message game-message"});
                    $msg_p.data("timestamp", msg["timestamp"]);
                    $msg_p.text(msg["message"]);

                    $("#right-panel").append($msg_p);
                }
            }

            $("#player-list").text("");
            this.drawPlayers(status);

            $("#actions-list").text("");

            // Remove buttons in the message log
            $("#right-panel button").parent().remove();

            click_points = [];

            if ("actions" in status) {
                this.drawActions(status);
            }

            // Show cards
            $("#card-list").text("");
            this.drawCards(status);
        }
    }

    /*
     * Send an AJAX request to perform the specified action. Immediately update
     * status if the request is successful
     */
    function performAction(action_id) {
        $("#action-list").text("Loading...");
        $.ajax(ACTION_URL, {
            "method": "POST",
            "data": {
                "action_id": action_id
            },
            "error": function(request, status, error) {
                throw "Unexpected error performing action";
            },
            "success": function(response, status, request) {
                getStatus();
            }
        });
    }

    /*
     * Send an AJAX request to be updated on the current status of the game
     */
    function getStatus() {
        $.ajax(STATUS_URL + latest_timestamp + "/", {
            "method": "GET",
            "error": function(request, status, error) {
                throw "Unexpected error retrieving status";
            },
            "success": function(response, status, request) {
                // $("#debug-area").text(response);

                // Only update if the response was 200 (i.e. something new
                // has happened)
                if (request.status == 200) {
                    var game_status = JSON.parse(response);
                    latest_timestamp = game_status.timestamp;

                    game.updateDisplay(game_status);
                }
            }
        });
    }

    const UPDATE_INTERVAL = 1000;

    const ROLL_DICE_ACTION = "roll_dice";
    const TRAVEL_ACTION = "travel";
    const WAIT_AT_PORT_ACTION = "wait_at_port";

    const LAND_LINK = "land";
    const SEA_LINK = "sea";
    const AIR_LINK = "air";

    const CITY_RADIUS = 20;

    const COLOURS = ["#AA3939", "#226666", "#AA8439"];

    var STATUS_URL = window.location.pathname + "status/";
    var ACTION_URL = window.location.pathname + "action/";

    var images = {};
    images.map = new Image();
    images.map.src = "{{ url_for("static", filename="europe.png") }}";

    var cities_str = document.getElementById("cities").innerHTML;
    cities_str = cities_str.replace(/&#34;/g, '"');
    var map = new Map(cities_str);

    var latest_timestamp = 1.1;

    var canvas = $("#game-canvas")[0];
    canvas.width = $("#left-panel").width();
    canvas.height = canvas.width * images.map.height / images.map.width;

    var game;

    images.map.onload = function() {
        game = new Game(map, canvas);

        // Get the status and start the update loop
        getStatus();
        window.setInterval(getStatus, UPDATE_INTERVAL);
    }

    </script>
</body>

</html>
